<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jobFactory" class="org.springframework.scheduling.quartz.SpringBeanJobFactory"/>

    <bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="autoStartup" value="false"/>
        <property name="jobFactory" ref="jobFactory"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="applicationContextSchedulerContextKey" value="springApplicationContext"/>
    </bean>
    <bean id="taskEntityManager" class="com.yql.framework.schedule.support.task.TaskEntityManager"/>

    <bean id="taskExceptionResolver" class="com.yql.framework.schedule.web.TaskExceptionResolver"/>

    <bean class="com.yql.framework.schedule.support.job.RmiTaskJobHandler"/>

    <bean class="com.yql.framework.schedule.support.job.HttpTaskJobHandler"/>

    <bean id="taskJobGroupFactory" class="com.yql.framework.schedule.support.task.TaskJobGroupFactory"/>

</beans>