<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <beans profile="dev">
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://192.168.0.35:3306/tms"/>
            <property name="username" value="root"/>
            <property name="password" value="nidaye"/>
            <property name="maxActive" value="3"/>
            <property name="initialSize" value="3"/>
            <property name="validationQuery" value="select 1 val"/>
        </bean>
    </beans>
    <beans profile="production">
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://10.163.215.134:5432/amp"/>
            <property name="username" value="amp_pro"/>
            <property name="password" value="XtfghT0sNsIcmpvD"/>
            <property name="maxActive" value="10"/>
            <property name="initialSize" value="3"/>
            <property name="validationQuery" value="select 1 val"/>
            <property name="testOnBorrow" value="true"/>
            <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        </bean>

    </beans>

    <beans profile="test">
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://192.168.1.158:5432/job_schedule"/>
            <property name="username" value="ota"/>
            <property name="password" value="ota"/>
            <property name="maxActive" value="3"/>
            <property name="initialSize" value="3"/>
            <property name="validationQuery" value="select 1 val"/>
        </bean>
    </beans>
</beans>